.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 20px 0;
}

.box-row {
  display: flex;
  gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.issuance-button-box {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
}

.description {
  font-size: 12px;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 20px 0px;
}
